header{
    background-color: var(--orange);
    padding: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.escola-titulo{
    color: white;
    font-size: 3rem;
}


@media(max-width:511px){
    .escola-titulo{
        font-size: 1.8rem;
    }
    }
  