*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
  }

  footer {
    background-color: var(--dark-blue);
    text-align: center;
    color: var(--gray);
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }